body {
    background: linear-gradient(135deg, #6e3bff, #a366ff);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

#weather-container {
    background: rgba(255, 255, 255, 0.2);
    max-width: 400px;
    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

#weather-container:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

h2, p, label {
    color: #fff;
    margin: 8px 0;
}

input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    color: white;
    margin-bottom: 10px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #debff4;
    outline: none;
}

button {
    background: #a366ff;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

button:hover {
    background: #8b48d7;
    transform: scale(1.05);
}

#temp-div p {
    font-size: 60px;
    margin-top: -20px;
}

#weatherinfo {
    font-size: 20px;
}

#icon {
    width: 150px;
    height: 150px;
    margin: 20px auto;
}

#hourlyforecast {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px 0;
}

.hourly-item {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: white;
}

.hourly-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#hourly-heading {
    color: #fff;
    margin-top: 10px;
}
